body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {padding:0;margin:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-weight:normal;font-style:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}



body { font:69% Verdana, Arial, Helvetica, sans-serif; background-color:#fff; color:#000; } /* 11px */
/* h1 { font-size:1.82em; font-weight:bold; }  20px */
h1 { font-size:1.64em; font-weight:bold; } /* 18px */
h1 a {color:#000;}
h2 { font-size:1.64em; font-weight:bold; } /* 18px */

.cssImg {margin:0;}
.cssImg a {position:relative; cursor:pointer;}
.cssImg span {display:block;overflow: hidden;height: 0 !important;}
h3 { font-size:1.18em; font-weight:bold; } /* 13px */
h4 { font-size:1.09em; font-weight:bold; } /* 12px */
a { text-decoration:none; color:#0000FF; }
a.active { text-decoration:underline; }
a:hover { text-decoration:underline; }
.more_info { font-size:0.91em; font-weight:bold; text-decoration:none; color:#000; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/btn_cta.gif) no-repeat left 2px; padding-left:10px; }
small { font-size:0.82em; }
p { padding-bottom:1em; }
form select, input, textarea { font-size:1em; font-family:Verdana, Arial, Helvetica, sans-serif; margin-right:10px;}
form select {padding:2px; border: 1px solid #d1d1d1;}

#container { width:980px; margin:auto; background-color:#fff; position:relative; }

/* global navigation */
#global_nav { padding:5px 10px 0 10px; font-size:0.82em; }
#global_nav a, #global_nav a:visited { color:#000; text-decoration:none; }
#global_nav a:hover { color:#000; text-decoration:underline; }
#global_nav .right { width:500px; }
#global_nav .right img { vertical-align:middle; }

/* portal navigation */
#portal_nav { margin-bottom:5px; background-color:#d1d1d1; }
#portal_nav .divider { font-size:1.18em; line-height:2.3em; height:auto !important; min-height:2.5em; height:2.5em; }
#portal_nav .right { float:right; }
#portal_nav .right img { vertical-align:middle; }
#dropmenu { display:block; padding:0; font-weight:bold; height:auto !important; min-height:17px; height:17px; }
#dropmenu li { float:left; display:block; position:relative; padding-right:2px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/divider.gif) center right no-repeat; }
#dropmenu li.right { float:right; }
#dropmenu li a { display:block; position:relative; padding-left:0.62em; color:#000; text-decoration:none; font-size:1.18em; line-height:2.45em; height:auto !important; min-height:2.5em; height:2.5em; }
#dropmenu li a:hover, #dropmenu li a.hover, #dropmenu li#quicklinks a:hover, #dropmenu li#quicklinks a.hover { background-color:#fee126; }
#dropmenu li.active a { background-color:#fee126; }
#dropmenu ul { z-index:999; position:absolute; display:none; top:auto; left:-1px; }
#dropmenu li ul li { border:solid 1px #d1d1d1; margin-top:-1px; background-color:#fff; padding-right:0 !important; background-image:none !important; }
#dropmenu li ul li a, #dropmenu li#quicklinks li a  { background-image:none ;padding-left:0.62em; width:14em; height:auto; float:left; background-color:#fff; font-size:1.09em; line-height:1.9em; height:auto !important; min-height:2.1em; height:2.1em;}
#dropmenu li.active ul li a { background-color:#fff; }
#dropmenu li ul li a:hover, #dropmenu li ul li a.hover { background-color:#000 !important; color:#fee126 !important; }
#dropmenu li:hover ul ul, #dropmenu li:hover ul ul ul, #dropmenu li:hover ul ul ul ul { display:none; }
#dropmenu li:hover ul, #dropmenu li li:hover ul, #dropmenu li li li:hover ul, #dropmenu li li li li:hover ul { display:block; }
#dropmenu li#m_item1 { width:11.8em; padding-left:10px; z-index:6; } /* getting started */
#dropmenu li#m_item2 { width:8.55em; z-index:5; } /* resources */
#dropmenu li#m_item3 { width:15.6em; z-index:4; } /* platform & packages */
#dropmenu li#m_item4 { width:9.5em; z-index:3;} /* comunity */
#dropmenu li#m_item5 { width:7.5em; z-index:2;} /* learning */
#dropmenu li#m_item6 { width:5.46em;}
#dropmenu li.last { background:none !important;} /* about */
#dropmenu li#quicklinks { width:12em; z-index:18; padding-right:0 !important; background:none !important; }
#dropmenu li#quicklinks a { padding-left:3em; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/btn_quick_link.gif) 1em center no-repeat; }

 /* quick links */
#dropmenu li#quicklinks ul { left:-45px; }

/* header */
#devnet_header, #header { padding:0 0 5px 10px; }
#devnet_header .right, #header .right { width:548px; }
#devnet_header #logo, #header #logo { padding:20px 0 0 0; }
#header_form { margin-bottom:10px; }
#header_form a, #header_form a:visited { color:#000; font-size:0.82em; }
#searchForm { margin-right:25px; }
#searchForm label { float:left; padding-top:5px; width:4.30em; }
#searchForm .fieldHolder { width:230px; height:23px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/search_box.gif) no-repeat; float:left; margin-bottom:5px; }
#searchForm .textInput { width:190px; height:20px; background:none; border:none; color:#000000; margin:5px 0 0 5px; }
#searchForm #SearchButton { vertical-align:top; padding:4px; margin-right:0px; margin-left:5px; }
#searchForm #advancefilterContainer {margin-left:4.30em;}
#searchForm #filterLabel { margin-left:15px; }
#searchForm #advancefilter { background-color:#fff; width:150px; height:100px; position:absolute; z-index:9999; padding:20px; display:none; border:solid 1px #d1d1d1; }
#searchForm #advancefilter select { margin-bottom:10px; width:150px; }

#LoginForm label { float:left; padding-top:3px; width:5.95em; }
#LoginForm .fieldHolder { width:170px; height:23px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/login_box.gif) no-repeat; float:left; }
#LoginForm .textInput { width:160px; height:20px; background:none; border:none; color:#000000; margin:5px 5px 0 5px; }
#LoginForm img { vertical-align:middle; }
#LoginForm #SignOnButton { padding-left:8px; }
#LoginForm #LoginWelcome { margin-bottom:10px; font-weight:bold; font-style:italic; }
#LoginForm .LoginName { margin:0 0 0 5px; vertical-align:middle; }
#LoginForm .LoginPadding { margin-bottom:35px; }

#feedbackLoginForm {float:none;}
#feedbackLoginForm a {color:#000;}
#feedbackLoginForm label { float:left; padding-top:3px; width:5.95em; }
#feedbackLoginForm .fieldHolder { width:170px; height:23px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/login_box.gif) no-repeat; float:left; }
#feedbackLoginForm .textInput { width:160px; height:20px; background:none; border:none; color:#000000; margin:5px 5px 0 5px; }
#feedbackLoginForm img { vertical-align:middle; }
#feedbackLoginForm #FeedbackSignOnButton { padding-left:8px; }
#feedbackLoginForm .LoginPadding { margin-bottom:35px; }
div.closeFeedbackForm {margin-bottom:5px; text-align:right;}

/* subheader for subpages */
#subheader { margin:20px 0 10px 0; padding:0 8px; }
#subheader h1 { text-align:left; padding:0px 0 0px 13px; margin-top:5px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/tbar_l.gif) left no-repeat; float:left; }
#subheader h1 span {display:block; padding:0 20px 0 0;  background:url(http://devlib.symbian.slions.net/s3/a_stock/img/tbar_r.gif) right no-repeat; line-height:50px;}

/* common box styles */
.homepage_rightside { padding-right:8px; } /*to fix ie6 margin issue*/
.BoxFrame {border:solid 1px #d1d1d1;}
.BoxFrame p.nolist { padding:2em 1em; text-align:center; }
.BoxHeader { margin-bottom:5px; }
.BoxContent { padding:9px 10px 9px 10px; }
.BoxContent h2 {margin-bottom:10px;}
.rssIcon { vertical-align:top; }
.editorBoxContent { margin:5px 0 15px 0; }
.editorBoxContent p { width:190px; }
.latestBoxTop { background-color:#e5e5e5; padding:5px 0 5px 15px; }
.latestBoxContentFrame { height:auto !important; min-height:400px; height:400px; }
.latestBoxContent{ padding:10px 15px 0 15px; }
.latestBoxDivider { border-top:dotted 1px #000; margin:10px 15px 0 15px; }
.latestBoxContent small { margin-top:5px; }
.colcontainer .BoxContent { padding:10px 15px 0 15px; border-bottom:1px solid #d1d1d1;}
.colcontainer .last { border-bottom:none; }
.colcontainer .more_info { font-size:1em; font-weight:normal; }
ul.rowLinks li {float:left; display:block; position:relative; padding-right:20px; padding-bottom:10px; font-size:0.82em;}
ul.rowLinks li a {color:#000; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/btn_cta.gif) no-repeat left 2px; padding-left:10px; }
.infobox .more_info { font-size:0.91em; font-weight:bold;}
.BoxContent .title {font-weight:bold; padding-bottom:0;}


/* site box */
#siteBox { background:url(http://devlib.symbian.slions.net/s3/a_stock/img/masthead.gif) no-repeat; width:703px; height:auto !important; min-height:265px; height:265px; margin:0; }
#siteBox a {color:#000;}
#siteBox h1, #siteBox h2 { padding:5px 0 15px 0;}
#siteBox .siteHeader{ font-size:1.64em; font-weight:bold;}
#siteBox ul { padding:40px 0 0 15px; width:185px; color:#000; float:left; }
#siteBox ul li:hover { text-decoration:underline; }
#siteBox ul .active { background:url(http://devlib.symbian.slions.net/s3/a_stock/img/masthead_highlighted.gif) repeat-y; }
#siteBox ul li { padding:5px 15px 0 15px; min-height:35px; cursor:pointer; font-weight:bold; }
#siteBox ul li a { font-weight:bold; }
#siteBox .itemContainer { padding:0 0 0 0; float:left; width:440px; margin:10px 0 0 40px; }
#siteBox .itemImage { float:right; padding:0 20px 0 10px; }
#siteBox .itemCopy { float:left; width:230px; }
#editorBox { width:695px; height:auto !important; min-height:220px; height:220px; margin:0 0 20px 0; }
#latestBox { width:695px; margin:5px 0 30px 0; padding-left:8px; }

/* editor's choice */
#EditorChoiceBox { width:314px; padding:10px 20px 0 20px; background-color:#fff; margin-right:1px; height:auto !important; min-height:210px; height:210px; border-right:1px solid #d1d1d1; margin-right:-1px; }

/* community editor */
#CommunityEditorBox { width:314px; background-color:#fff; padding:10px 0 0 20px; height:auto !important; min-height:210px; height:210px; border-left:1px solid #d1d1d1; }

/* latest in documentation */
#LatestDocumentationBox { width:333px; }
#LatestDocumentationBox p { padding-bottom:0; }

/* latest in forum */
#LatestForumBox { width:333px; }
#LatestForumBox p { padding-bottom:5px; }

/* download */
#DownloadBox { width:238px; margin:5px 0; height: auto !important; min-height:220px; height:220px; }
#DownloadBox img { margin-bottom:10px; }

/* featured packages */
#PackageBox { width:238px; margin:5px 0; height: auto !important; min-height:220px; height:220px; }
#PackageBox .package { margin-bottom:15px; }
#PackageBox .package p { padding-bottom:0; }
#PackageBox .package img { float:left; margin-right:15px; }

/* top articles */
#TopArticleBox { width:238px; margin:5px 0; height:auto !important; min-height:435px; height:435px; }
.voteNum { font-size:1.09em; font-weight:bold; color:#000; padding:0; text-align:center; padding:5px 0 0 0; }
.voteTitle { font-size:0.82em; font-weight:bold; text-align:center; }
.articleListing { padding:0 0 0 40px; width:150px; float:left; }
.articleVote { background:url(http://devlib.symbian.slions.net/s3/a_stock/img/vote_box.gif) no-repeat; width:45px; height:40px; float:left; }
.ui-accordion-container .more_info { margin-left:40px; }
.ui-accordion { list-style-type: none; }
.ui-accordion .odd { background-color:#e5e5e5; }
.ui-accordion li { padding:1px 0 5px 0; margin:0; }
.ui-accordion li span { margin-bottom:3px; }
.ui-accordion li:hover { cursor:pointer; }
.ui-accordion li span.ui-accordion-header { display:block; color:#000; text-decoration:none; position:relative; padding:0 0 0 10px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/icon_drop_down.gif) no-repeat 216px 4px; font-size:1.09em; }
.ui-accordion li .selected { font-weight:bold; }
.ui-accordion li span.ui-accordion-header.selected { background:none; }

/* subpages styles */
.subcontent { color:#000; padding:0 8px; }
.subcontentImage { }
.subcontent p { padding:0 0 10px 0; }
.subcontent h1 { margin-bottom:10px; }
.bulletlist { margin:10px 0 0 30px; }
ul.bulletlist { list-style-type:disc; }
ol.bulletlist { list-style-type:decimal; margin:10px 0 0 30px; }
.bulletlist li { margin:0 0 10px 0; }
.bulletlistDocumentation li { float: left;margin-left:40px; margin-top: 25px; }
.breadcrumbs { font-size:0.82em; }
.breadcrumbs a { text-decoration:underline; }
.columns { width:964px; margin:0px 8px; clear:both; }
.columns .bulletlist { }
.colcontainerspacer { height:18px; }
.colBoxTop { background-color:#e5e5e5; padding:5px 15px 5px 15px; color:#000; font-weight:bold; }
.colBoxTop p {font-weight:normal; padding-bottom:0em;}
.colBoxTop img { vertical-align:middle; }
.one_col { width:99.8%; }
.two_col { width:49%;}
.three_col { width:32%; }
.three_col_center { margin-left:1.8%; }
.three_col_right { margin-right:0.3%; }
.three_col_double { width:66%; }
.four_col { width:24%; }
.four_col_center { margin-left:1%; }
.two_col_copy { width:343px; float:left; padding:0 10px 10px 0; float:right; }
.one_col_copy { width:780px; float:left; padding:0 10px 10px 10px; }
.colcontainer div.BoxFrame {margin-bottom:18px; height:1%;}
.colcontainer {margin-top:10px;}


/*Alphabet Listing in sub content*/
.subcontent div.types, .subcontent div.alphabets { background:#d1d1d1; line-height:3em; height:1%;}
.subcontent div.alphabets { margin-top:10px; margin-bottom:10px;}
.subcontent li.noMatch {padding-bottom:10px; padding-left:15px;}
.subcontent div.types small, .subcontent div.alphabets small { float:left; display:block; position:relative; background:#d1d1d1; padding-left:8px; }
.subcontent div.types a, .subcontent div.alphabets a { color:#000; text-decoration:none; }
.subcontent div.types a.selected, .subcontent div.alphabets a.selected { font-weight:bold; color:#fff; }
.subcontent #alphabeticallist { padding:0;}

/* forum */
#forum { margin:0 8px 20px 8px; padding-bottom:20px; }
#forum h2 { padding:10px; }
#forumListing { width:100%; }
#forumListing th { font-size:1.09em; padding:5px 10px; background-color:#fee126; font-weight:bold; text-align:center; }
#forumListing td { padding:5px 10px; vertical-align:top; text-align:center; }
#forumListing .threadColumn { text-align:left; }
#forumListing .header .leftalign { text-align:left; }
#forumListing .even { background-color:#e5e5e5; }
#forumListing a, #forumListing a:visited { text-decoration:none; color:#0000FF; }
#forumListing a:hover { text-decoration:underline; }

/* community page */
.community_image { padding:10px 5px 25px; }
.community_header { padding:10px 5px; position:relative; left:8px;}
.community_copy { width:180px; float:left; padding:0 10px 30px 0; float:right; }

/*package page*/
.package_description {width:66%;}
.package_description .bulletlist {margin-top:0px;}
.downloadInfo {text-align:center; margin-top:0px; margin-bottom:0px; padding:0px;}
#createPackageFrm label.lnowrap {white-space:nowrap}
#createPackageFrm label span {font-weight:normal;}
#createPackageFrm small {font-weight:normal; display:inline;}
#addPackageUser {border-bottom:1px dotted #d1d1d1;}
#addPackageUser ol.forms {padding:15px 15px 0 5px;}
#addPackageUser li.buttons {padding-left:210px; font-weight:bold; margin-bottom:0px; width:400px;}
.multiSelect {padding-left:80px; padding-top:30px;}
.multiSelect .selectContainer {float:left; width:350px;}
.multiSelect .labelContainer label {display:inline; float:left; padding-right:10px;}
.multiSelect .labelContainer .buttons {float:left; padding-bottom:4px;}
.multiSelect select {width:350px;}
.multiSelect .moveOptContainer {float:left; padding:70px 30px;}
.multiSelect .moveOptContainer input {margin-bottom:10px;}

/* search results page */
#searchCriteria { padding:10px 10px; margin-bottom:18px; background-color:#D1D1D1; }
#searchCriteria input { margin-left:5px; }
#searchResultsTab { margin-bottom:18px; }
#searchResultsTab .desc { margin-bottom:10px; }
#searchResultsTab ul a:hover { text-decoration:none; }
#searchResultsTab hr { color:#D1D1D1; background-color: #D1D1D1; height: 1px; border:0 none; margin-bottom:10px; }
#searchResultsTab dl { margin-top:10px; margin-bottom:10px; }
#searchResultsTab dl h2 { float:left; width:150px; }
.topSearchResults { margin-left:20px; margin-top:10px; }
#searchResultsTab a {font-weight:bold; }
#searchResultsTab .moreResults a { color:#D6B900; }
.searchtab_container .ui-tabs-panel { height:auto; }

/* resources > downloads page */
#downloadsTab, .mTab { margin-bottom:18px; }
#downloadsTab .ui-tabs-panel, .mTab .ui-tabs-panel { padding:1em 0px; }
#downloadsTab div.types, .mTab div.types, #downloadsTab div.alphabets, .mTab div.alphabets { background:#d1d1d1; line-height:3em; height:1%;}
#downloadsTab div.alphabets, .mTab div.alphabets { margin-top:10px; }
#downloadsTab div.types small, #downloadsTab div.alphabets small { float:left; display:block; position:relative; background:#d1d1d1; padding-left:8px; }
#downloadsTab div.types a, #downloadsTab div.alphabets a { color:#000; text-decoration:none; }
#downloadsTab div.types a.selected, #downloadsTab div.alphabets a.selected { font-weight:bold; color:#fff; }
#downloadsTab div.type, .mTab div.type { padding:1em 8px; border-bottom:1px solid #d1d1d1; margin-bottom:1em; height:1%; clear:both; }
#downloadsTab div.last, .mTab div.last { border-bottom:none; }
#downloadsTab div.item, .mTab div.item { padding:10px 20px; }
#downloadsTab div.description h4 small { font-weight:normal; padding:0 5px; }
#downloadsTab div.description { float:left; width:60%; }
.mTab div.description { float:left; width:90%; }
#downloadsTab div.details { float:right; width:110px; background:#d1d1d1; text-align:center; padding:5px 0; }
#downloadsTab .subscribe { float:right; line-height:3em; width:25px; padding-right:10px; }
#downloadsTab .subscribe a { display:block; position:relative; height:3em; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/icon_rss_feed03.gif) right center no-repeat; text-indent:-9999em; }
.mtabs_title {background:#d1d1d1; line-height:3em; text-align:center; margin-bottom:10px;}

div.view-by-category div.left { width:60%; }
div.view-by-category div.right { width:30%; margin-right:20px; }
div.view-by-category #categories a.selected {font-weight:bold!important;}
div.view-by-category div.category { padding:1em; margin-bottom:1em; }

/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating { cursor:pointer; margin:10px; clear:both; display:block; }
div.rating:after { content:'.'; display:block; height:0; width:0; clear:both; visibility:hidden; }
div.cancel, div.star { float:left; width:17px; height:15px; text-indent:-999em; cursor:pointer; display:block; background:transparent; overflow:hidden; }
div.cancel, div.cancel a { background:url('http://devlib.symbian.slions.net/s3/a_stock/img/delete.gif') no-repeat 0 -16px; }
div.star, div.star a { background:url('http://devlib.symbian.slions.net/s3/a_stock/img/star.gif') no-repeat 0 0px; }
div.cancel a, div.star a { display:block; width:16px; height:100%; background-position:0 0px; }
div.star_on a { background-position:0 -16px!important; }
div.star_hover a, div.star_live a:hover { background-position:0 -32px; }
/* Read Only CSS */
div.star_readonly a, div.star_readonly a:hover { cursor:default !important; }
/* Partial Star CSS */
div.star { background:transparent!important; overflow:hidden!important; }

/* jQuery.listnav Plugin CSS - http://www.ihwy.com/labs/jquery-listnav-plugin.aspx */
#alphabeticallist { padding:0 1em; }
.noMatch { list-style:none; }
.listNav { padding:0 8px; height:1%; }
.listNav a { display:block; float:left; padding:0 5px; font-size:0.82em; }
.listNav a.ln-last { }
.listNav a.ln-selected { color:#fff !important; font-weight:bold; }
.listNav a:hover { text-decoration:underline; }
.listNav a.ln-disabled { color:#999 !important; }
.listNav .ln-letterCount { text-align:center; font-size:0.8em; line-height:1; margin-bottom:3px; color:#666; } /* extra styling using jquery.listnav.js internally used class name */

/* Forms */
form .BoxFrame {margin-bottom:15px; width: 960px;}
ol.forms {float: left; list-style: none; padding:15px;}
ol.forms li {clear: both;float: left;margin: 0 0 10px;width: 100%;}
ol.forms label {cursor: pointer;display: block;float: left;font-weight: bold;margin: 0 10px 0 0;width: 200px;}
ol.forms label.error { padding-left:210px; color:#FF0000; width:400px; font-weight:normal; font-size:0.9em;}
ol.forms label.loading { padding-left:210px; color:#333; width:400px; font-weight:normal; font-size:0.9em; }
ol.forms input, ol.forms textarea {font: inherit;padding: 2px;width: 310px;}
ol.forms textarea { height: 250px; width:500px;}
ol.forms li.grouping label {cursor:pointer; display: block;float: left;font-weight: bold;margin: 0 10px 0 0;width: 200px; }
ol.forms li.grouping {padding-bottom:5px; margin-bottom:0px;}
ol.forms li.grouping ul { list-style: none; display: block;float: left;}
ol.forms li.grouping ul label {display: inline;float: none;font-weight: normal;margin: 0;width: auto;}
ol.forms li.grouping ul input { width: auto; }
.buttons {float: right; padding-bottom:10px; position:relative; top:1px;}
.buttons input {background-color:#000000; color:#fee126; border:none; padding:1px 7px; cursor:pointer; font-weight:bold; font-size:0.82em; }
.buttons input:hover {color:#FFF;}
.compulsory {color:#FF0000;}
.thankyou_container {height:auto !important; min-height:500px; height:500px;}
form input.ctyCode {width:25px;}
form input.cNumber {width:253px;}

.plussign {padding:0 5px 10px 0; margin-bottom:10px;}

p.instruction {line-height:1.5em;}

/* Feedback */
div#feedbackform {width:780px; margin:0 auto;}
div#feedbackform textarea {height:100px;}

div#feedback {background-color:#fff; color:#000; z-index:99; padding:20px; position:absolute;bottom:36px; border:1px solid #d1d1d1; display:none;}
div#feedback.signin { width: 780px !important; left:80px;}
div#feedback.signout { left:40%;}
div#feedback textarea {height:100px;}
div#feedbackform li.feedback_category label.error {padding:0;}
div#feedbackform li.grouping {padding-bottom:20px;}
div#feedbackform li.grouping li input {display:inline; margin:0;}
div#feedbackform li.grouping li label {display:inline; margin-right:10px;}

/*Section/Sub-section Images*/
.img_txt_community_editor {padding: 35px 0 0 0; width:250px; height:35px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/txt_community_editor.gif) top left no-repeat;}
.img_txt_editor_choice {padding: 35px 0 0 0; width:215px; height:35px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/txt_editor_choice.gif) top left no-repeat;}
.img_txt_download {padding: 25px 0 0 0; width:125px; height:25px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/txt_download.gif) top left no-repeat;}
.img_txt_featured_package {padding: 25px 0 0 0; width:220px; height:25px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/txt_featured_package.gif) top left no-repeat;}
.img_txt_latest_document {padding: 25px 0 0 0; width:230px; height:25px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/txt_latest_document.gif) top left no-repeat;}
.img_txt_latest_forum {padding: 25px 0 0 0; width:160px; height:25px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/txt_latest_forum.gif) top left no-repeat;}
.img_txt_top_articles {padding: 25px 0 0 0; width:145px; height:25px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/txt_top_articles.gif) top left no-repeat;}
.img_t_going_open_source {padding: 48px 0 0 0; width:130px; height:48px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_going_open_source.gif) top left no-repeat;}
.img_t_history_of_symbian {padding: 53px 0 0 0; width:125px; height:53px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_history_of_symbian.gif) top left no-repeat;}
.img_t_leadership_team {padding: 27px 0 0 0; width:188px; height:27px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_leadership_team.gif) top left no-repeat;}
.img_t_member_companies {padding: 48px 0 0 0; width:120px; height:48px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_member_companies.gif) top left no-repeat;}
.img_t_foundation_members {padding: 48px 0 0 0; width:125px; height:48px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_foundation_members.gif) top left no-repeat;}
.img_t_keynote_speeches {padding: 51px 0 0 0; width:110px; height:51px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_keynote_speeches.gif) top left no-repeat;}
.img_t_forums {padding: 24px 0 0 0; width:80px; height:24px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_forums.gif) top left no-repeat;}
.img_t_blog {padding: 26px 0 0 0; width:61px; height:26px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_blog.gif) top left no-repeat;}
.img_t_wikis {padding: 24px 0 0 0; width:58px; height:24px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_wikis.gif) top left no-repeat;}
.img_t_news {padding: 22px 0 0 0; width:174px; height:22px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_news.gif) top left no-repeat;}
.img_t_competence {padding: 76px 0 0 0; width:144px; height:76px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_competence.gif) top left no-repeat;}
.img_hdr_step1 {padding: 26px 0 0 0; width:68px; height:26px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/hdr_step1.gif) top left no-repeat;}
.img_hdr_step2 {padding: 26px 0 0 0; width:72px; height:26px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/hdr_step2.gif) top left no-repeat;}
.img_hdr_step3 {padding: 26px 0 0 0; width:72px; height:26px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/hdr_step3.gif) top left no-repeat;}
.img_hdr_step4 {padding: 26px 0 0 0; width:73px; height:26px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/hdr_step4.gif) top left no-repeat;}
.img_hdr_forum {padding: 25px 0 0 0; width:198px; height:25px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/hdr_forum.gif) top left no-repeat;}
.img_t_training {padding: 25px 0 0 0; width:97px; height:25px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_training.gif) top left no-repeat;}
.img_t_developer {padding: 81px 0 0 0; width:123px; height:81px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_developer.gif) top left no-repeat;}
.img_t_universities {padding: 22px 0 0 0; width:142px; height:22px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_universities.gif) top left no-repeat;}
.img_t_books {padding: 20px 0 0 0; width:65px; height:20px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_books.gif) top left no-repeat;}
.img_t_events {padding: 21px 0 0 0; width:81px; height:21px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_events.gif) top left no-repeat;}
.img_t_categories {padding: 20px 0 0 0; width:105px; height:20px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_categories.gif) top left no-repeat;}
.img_t_documentation {padding: 22px 0 0 0; width:176px; height:22px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_documentation.gif) top left no-repeat;}
.img_t_examplecode {padding: 28px 0 0 0; width:163px; height:28px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_examplecode.gif) top left no-repeat;}
.img_t_tools {padding: 23px 0 0 0; width:67px; height:23px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_tools.gif) top left no-repeat;}
.img_t_contribute_code {padding: 25px 0 0 0; width:330px; height:25px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_contribute_code.gif) top left no-repeat;}
.img_t_develop_application {padding: 25px 0 0 0; width:415px; height:25px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_develop_application.gif) top left no-repeat;}
.img_t_documentation_platform {padding: 25px 0 0 0; width:475px; height:24px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_documentation_platform.gif) top left no-repeat;}
.img_t_documentation_application {padding: 25px 0 0 0; width:505px; height:24px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_documentation_application.gif) top left no-repeat;}
.img_t_packages {padding: 25px 0 0 0; width:115px; height:25px; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/t_packages.gif) top left no-repeat;}

/* documentation style */
.documentationLinks p {background:transparent url(http://devlib.symbian.slions.net/s3/a_stock/img/tbar_l.gif) no-repeat scroll left center;padding:0 0 0 13px;}
.documentationLinks a {background:transparent url(http://devlib.symbian.slions.net/s3/a_stock/img/tbar_r.gif) no-repeat scroll right center;display:block;line-height:20px;padding:0 20px 0 0;}

/* common style */
.left { float:left; }
.right { float:right; }
.clear { clear:both; width:0; height:0; font-size:0; overflow:hidden; }
.hidden { display:none; }
.bold { font-weight:bold; }
.hmarginright {margin-right:10px;}
.pname {text-decoration:underline;}


/* footer */
#devnet_footer { clear:both; background-color:#000; color:#fff; padding:10px; height:5px;}
#devnet_footer ul li { float:left; display:block; background:url(http://devlib.symbian.slions.net/s3/a_stock/img/footer-divider.gif) right bottom no-repeat; padding-right:10px; margin-right:10px; }
#devnet_footer ul li.last { background-image:none; }
#devnet_footer a, #devnet_footer a:visited, #devnet_footer a:hover { color:#fff; text-decoration:none; font-size:0.82em; }
#devnet_footer a:hover { text-decoration:underline; }



/* jQuery Thickbox 3.1 CSS - http://jquery.com/demo/thickbox/ */
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	color: #000;
}

#TB_secondLine {
	color:#000;
}

#TB_window a:link {color: #0000FF;}
#TB_window a:visited {color: #0000FF;}
#TB_window a:hover {color: #0000FF; text-decoration:underline;}
#TB_window a:active {color: #0000FF;}
#TB_window a:focus{color: #0000FF;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(http://devlib.symbian.slions.net/s3/a_stock/img/macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 4px solid #525252;
	text-align:left;
	top:50%;
	left:50%;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}

#TB_title{
	background-color:#e8e8e8;
	height:27px;
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}
/* Symbian Foundation
   CSS
   Alex Abarmovich 10-02-2009 
   Version 2
   Date: 10-02-2009 
   Last modified: 19-02-2009
*/
   
/* CSS fixes for IE6 and IE7 */

* html #contentContainer  {
height:500px;
}


/* variable width container */

* html body#variable_width #container {
overflow: visible;
font-size: 100%;
}

* html body#variable_width #container {width:expression(
(document.documentElement.offsetWidth) >1280 
* (parseInt(document.body.currentStyle.fontSize) 
/ parseInt(document.body.currentStyle.fontSize))?  "1250px" 
: ((document.documentElement.offsetWidth) < 1010? "980px" : "99%")); }

/* main promo */
* html #siteBox ul li {height:35px; }
* html #siteBox div.itemCopy ul.main_promo_internal li {
height:10px;
}

/* buttons IE 7 */

*:first-child+html p.buttons input#submitForm {
text-align:center;
display:block;
width:110px;
}/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}

/* Skin */ /*font-size: 12px;*/
.ui-tabs-nav, .ui-tabs-panel {
    
}
.ui-tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 4px;
}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    float: left;
    margin: 0 0 0 1px;
    min-width: 84px; /* be nice to Opera */
}
.ui-tabs-nav a, .ui-tabs-nav a span {
    display: block;
    padding: 0 10px;
    background: url(http://devlib.symbian.slions.net/s3/a_stock/img/bg_tab.png) no-repeat;
	/* border: 1px ; */
}
.ui-tabs-nav a {
    margin: 1px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
    color: #000;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */    
    outline: 0; /* prevent dotted border in Firefox */
}
.ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
    color: #000;
}
.ui-tabs-nav a span {
    width: 64px; /* IE 6 treats width as min-width */
    min-width: 64px;
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 18px;
    padding-top: 6px;
    padding-right: 0;
}
*>.ui-tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-bottom: 1px;
}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position: 100% -150px;
}
.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active {
    background-position: 100% -100px;
}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0 -50px;
}
.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
    background-position: 0 0;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-deselectable a:hover, .ui-tabs-nav .ui-tabs-deselectable a:focus, .ui-tabs-nav .ui-tabs-deselectable a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-panel {
    border: 1px solid #ccc;
    padding: 1em 8px;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}
.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(http://devlib.symbian.slions.net/s3/a_stock/img/loading.gif) no-repeat 0 50%;
}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}

.hptab_container .ui-tabs-panel {height:210px;}
/* Symbian Foundation
   CSS
   Alex Abarmovich 10-02-2009 
   Version 5
   Date: 10-02-2009 
   Last modified: 17-02-2009
*/
   
/* Addtitional CSS styles and style corrections */

#container #contentContainer{
min-height:500px;
}

#header {
height:90px
}

/* variable width container  AA */

body#variable_width #container {
width: 99%;
margin: 0 auto;
/*overflow: hidden;  does not work with absolutely positioned #globalWrapper Wiki AA */ 
max-width: 1250px;
min-width: 980px;
text-align: left;
}

/* top header AA */
#header .right { width:548px; }
#searchForm label { float:left; padding-top:5px; width:4.30em; }



/* top navigation AA */
#dropmenu li#m_item1 { width:9.8em; padding-left:10px; z-index:11; } /* community */
#dropmenu li#m_item2 { width:5.25em; z-index:12; } /* code */
#dropmenu li#m_item3 { width:9.1em; z-index:13; } /* tools */
#dropmenu li#m_item4 { width:11.7em; z-index:14; } /* documentation */
#dropmenu li#m_item5 { width:6.5em; z-index:15;} /* forums */
#dropmenu li#m_item6 { width:7.3em; z-index:16;} /* learning */
#dropmenu li#m_item7 { width:5.46em; z-index:17;} /*  about us */ 

/* generic classes */

#genericContent {
padding:10px;
}

#genericContent h2 {
margin-bottom:10px;
}

#genericContent h3 {
margin-bottom:5px;
}

#genericContent img {
padding:15px;
}


/* home page */  
/* main promo */

#siteBox div.itemCopy ul.main_promo_internal {
margin-bottom:10px;
padding-top:0;
}

#siteBox div.itemCopy ul.main_promo_internal li {
min-height:10px;
}


/*  contact form  AA  */
form#contactUsFrm input#ophone_ctyCode {
width:25px;
} 

/* form submit buttons AA */

p.buttons {
padding-bottom:10px;
margin:10px 0 20px 0;
width:100%;
}

p.buttons input {
float:none;
font-size:1.1em;
font-weight:bold;
padding:2px 9px;
display:block;
min-width:20px;
margin:0 auto;
}

#addPackageUser li.buttons {
padding:5px 0 5px 210px;
}

.multiSelect .labelContainer .buttons {
margin:0 0 10px 0;
}

/* Getting Started */

.GetStartedBoxContent { padding:9px 10px 2px 10px; }

#GetStartedBox { width:238px; margin:5px 0; height: auto !important; min-height:237px; height:237px; }
#GetStartedBox .started { margin-bottom:5px; margin-top:5px; background-image: url('http://devlib.symbian.slions.net/s3/a_stock/img/btn_box.gif'); background-repeat: no-repeat; background-position: top left; height: 60px; width: 220px; padding: 3px;}
#GetStartedBox .started p { padding-bottom:0px;}
#GetStartedBox .started img { float:left; margin-left: 10px; margin-right:15px;}
#GetStartedBox .BoxCenter {height:60px;}

/* Tools & kits box content */

div#colcontainer1 p, div#colcontainer2 p { float:left;padding: 5px 0 10px 10px;}

.img_t_comm_activity_dashboard {background:transparent url(http://devlib.symbian.slions.net/s3/a_stock/img/t_comm_activity_dashboard.gif) no-repeat scroll left top; padding:30px 0 0; width:350px;}
.img_t_other_tools {background:transparent url(http://devlib.symbian.slions.net/s3/a_stock/img/t_other_tools.gif) no-repeat scroll left top; padding:30px 0 0; width:350px;}
.img_t_quick_links {background:transparent url(http://devlib.symbian.slions.net/s3/a_stock/img/t_quick_links.gif) no-repeat scroll left top; padding:25px 0 0; width:350px;}
.img_t_featured_developer {background:transparent url(http://devlib.symbian.slions.net/s3/a_stock/img/t_featured_developer.gif) no-repeat scroll left top; padding:55px 0 0; width:350px;}
.img_t_platform_dashboard {background:transparent url(http://devlib.symbian.slions.net/s3/a_stock/img/t_platform_dashboard.gif) no-repeat scroll left top; padding:35px 0 0; width:265px;}
.img_t_community_news {background:transparent url(http://devlib.symbian.slions.net/s3/a_stock/img/t_community_news.gif) no-repeat scroll left top; padding:55px 0 0; width:350px;}
.img_t_application_dev {background:transparent url(http://devlib.symbian.slions.net/s3/a_stock/img/t_application_dev.gif) no-repeat scroll left top; padding:30px 0 0; width:350px;}
.img_t_platform_dev {background:transparent url(http://devlib.symbian.slions.net/s3/a_stock/img/t_platform_phone_dev.gif) no-repeat scroll left top; padding:30px 0 0; width:350px;}
.img_t_lets_get_started {background:transparent url(http://devlib.symbian.slions.net/s3/a_stock/img/t_lets_get_started.gif) no-repeat scroll left top; padding:30px 0 0; width:350px;}

/* User profile section */

/* registration */

body#user_profile form table td {
height:25px;
padding-left:15px;
}

body#user_profile form table td.userFormLabel {
padding-left:0;
}



body#user_profile form#registerForm table {
width:850px;
}

body#user_profile form#registerForm {
margin-top:20px;
}

body#user_profile form#registerForm input {
margin-right:3px;
}

body#user_profile #subheader {
margin-top:10px;
height:60px;
}

body#user_profile div.BoxFrame {
margin-bottom:20px;
padding-bottom:15px;
}

body#user_profile div.error {
color:#ff0000;
margin-bottom:2px;
}

body#user_profile td.userFormLabel {
font-weight:700;
text-align:right;
}

body#user_profile input#registerForm_submit,
body#user_profile input#_submit {
background-color:#000000; 
color:#fee126; 
border:none; 
padding:2px 9px; 
cursor:pointer; 
font-weight:bold; 
font-size:1.1em;
margin-left:0; 
}

/* login */

body#user_profile #formContent {
padding:15px;
}

body#user_profile form#frmLogin div.fieldHolder {
height:25px;
display:inline;
}

body#user_profile form#frmLogin label {
width:90px;
display:inline-block;
font-weight:700;
height:25px;
}

body#user_profile form#frmLogin input.loginSubmit { 
margin:0 0 20px 95px;
}

body#user_profile #loginLinks {
margin-left:95px;
}

/* profile */

body#user_profile table#user_profile_table {
border: none;
}

body#user_profile table#user_profile_table td {
height:25px;
padding-left:20px;
vertical-align:top;
}


/* Copyright (c) 2009 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. http://www.symbianfoundation.org/legal/sfl-v10.html. */

body {
	font-family: "tahoma", sans-serif;
	font-size: 11px;
	background-color: #888888;
	margin: 0px;
	padding: 0px;
}

h1 {
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 0px;
	font-size: 22px;
	font-weight: bold;
}

h2 {
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 0px;
	font-size: 18px;
	font-weight: bold;
}

h3 {
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0px;
	font-size: 14px;
	font-weight: bold;
}

#index_table a {
	font-weight: normal;
	background-color: #ffffff;
}

#index_table a:hover {
	font-weight: normal;
	background-color: #cccccc;
}

#content_footer {
	font-family: "verdana", sans-serif;
}

#content_footer a {
	text-decoration: none;
	color: #ffffff;
}

#content_footer a:hover {
	text-decoration: underline;
}

#content_footer_links {
	background-color: #333333;
	color: #ffffff;
	font-size: 13px;
	height: 42px;
}

#content_footer_links_padding {
	padding-top: 16px;
	padding-left: 32px;
}

#main_content {
	background-color: #ffffff;
	font-size: 11px;
	padding: 13px;
	padding-left: 13px;
	padding-top: 13px;
	font-size: 12px;
}

#main_content a {
	color: #222222;
	background-color: #ffffff;
	font-weight: normal;
}

#main_content a:hover {
	background-color: #fee126;
	text-decoration: underline;
}

#main_content table {
	font-family: "verdana", sans-serif;
	color: #222222;
	font-size: 12px;
}

#main_content_toc {
	/** border-right: 1px solid #b2b2b2; **/
	text-decoration: underline;
	overflow: auto;
	font-size: 10px;
}

#main_content_toc a {
	text-decoration: none;
	font-weight: normal;
	color: #222222;
	background-color: #ffffff;
	font-size: 10px;
}

#main_content_sizer {
	width: 5px;
	background-color: #cccccc;
	cursor: w-resize;
}

#main_content_toc a:hover {
	background-color: #fee126;
	text-decoration: none;
	border: 0px;
}

#main_content_txt {
	padding-left: 13px;
	padding-top: 1px;
	font-size: 12px;
}

#mast {
	font-family: "verdana", sans-serif;
	background-color: #ffffff;
	background: url(http://devlib.symbian.slions.net/s3/a_stock/images/css/ui_mast_doodles.gif) top right no-repeat;
}

#mast a {
	text-decoration: none;
	color: #222222;
}

#mast a:hover {
	text-decoration: underline;
}

#mast_content {
	background: url(http://devlib.symbian.slions.net/s3/a_stock/images/css/ui_logo.gif) top left no-repeat;
	height: 60px; /** defaut: 80px **/
}

#mast_links {
	background-color: #d1d1d1;
	font-size: 14px;
	height: 28px;
}

#mast_links_padding {
	padding-top: 4px;
	padding-left: 32px;
}

#mast_padding {
	padding-top: 8px;
	padding-left: 32px;
}

#mast_spacer {
	height: 0px; /** defaut: 20px **/
}

#mast_top {
	height: 20px;
}

#navigator {
	border-top: 1px dotted #b2b2b2;
	border-bottom: 1px dotted #b2b2b2;
}

#navigator a {
	background-color: #e5e5e5;
}

#navigator a:hover {
	background-color: #fee126;
	text-decoration: underline;
	border: 0px;
}

#navigator_padding {
	padding: 5px;
	background-color: #e5e5e5;
}

#printer_copyright {
	display: none;
}

#printer_copyright_padding {
	display: none;
}

.main_content_label {
	padding-bottom: 2px;
}

.main_content_padding {
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.main_content_rss {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(http://devlib.symbian.slions.net/s3/a_stock/images/css/rss.gif) top left no-repeat;
	float: right;
	clear: right;
}

.main_content_title {
	padding-bottom: 10px;
}

.print_icon {
	float: right;
	width: 26px;
	height: 26px;
	background: url(http://devlib.symbian.slions.net/s3/a_stock/images/css/icon_print.gif) top left no-repeat;
	cursor: pointer;
	margin-top: -22px;
}

.table_border {
	width: 384px;
	padding-bottom: 13px;
}

.table_border_top {
	width: 384px;
	height: 8px;
	font-size: 0px;
	background: url(http://devlib.symbian.slions.net/s3/a_stock/images/css/table_top.gif) top left no-repeat;
}

.table_border_middle {
	width: 384px;
	background: url(http://devlib.symbian.slions.net/s3/a_stock/images/css/table_middle.gif) top left repeat-y;
}

.table_border_bottom {
	font-size: 0px
	width: 384px;
	height: 8px;
	background: url(http://devlib.symbian.slions.net/s3/a_stock/images/css/table_bottom.gif) bottom left no-repeat;
}

.table_border_padding {
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
}/* Copyright (c) 2009 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. http://www.symbianfoundation.org/legal/sfl-v10.html. */

dt
{
font-weight: bold;
}

.topNavigation ul li {
display: inline;
padding-right: 20px;
}

hr {
	border: 0px;
	background: url(http://devlib.symbian.slions.net/s3/a_stock/images/css/section_hr.gif) top left repeat-x;
	height: 15px;
	width: 100%;
}

#authoredContent, .Bodytext {
	padding-top: 5px;
	line-height: 150% !important;
	padding-bottom: 15px;
}


#authoredContent h1, .Bodytext h1, .Head1 h1 {
	margin: 0px;
	font-size: 210%;
	font-weight: bold;
	line-height: 1.4;
	margin: 0.5em 0 0.8em 0;
}

#authoredContent h2, .Bodytext h2 {
	margin: 0.8em 0 0.5em 0;
	font-size: 170%;
	font-weight: bold;
	margin-left: 0px;
}

#authoredContent h3 , .Bodytext h3 {
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0px;
	font-size: 140%;
	font-weight: bold;
	margin-left: 0px;
}

#authoredContent h4, .Bodytext h4 {
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0px;
	font-size: 120%;
	font-weight: bold;
	margin-left: -0px;
}

#authoredContent h5, .Bodytext h5 {
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0px;
	font-size: 110%;
	font-weight: bold;
	margin-left: -0px;
}

#authoredContent table, .Bodytext table {
	margin: 0px;
	border: 1px solid #000000;
	margin: 0.5em 0 1em 0;
}

#authoredContent table p, .Bodytext table p{
	margin: 0px;
	padding: 2px 0px;
}

#authoredContent th, .Bodytext th {
	border: 1px solid #000000;
	background-color: #e5e5e5;
	font-weight: bold;
	padding: 0.5em;
}

#authoredContent td, .Bodytext td {
	border: 1px solid #000000;

	padding: 0.5em;
}

.Bodytext td table td, .Bodytext td table, .Bodytext table, .Bodytext table td
{
border: none;
padding: 0.2em;
margin: 0;
margin-bottom: 0.5em;
}

#authoredContent.codeblock {
	border: 1px solid #d1d1d1; 
	background-color: #e5e5e5;
	padding: 5px;
	font-family: "courier new", "courier", serif;
	color: #444444;
}

#authoredContent ul, #authoredContent ol, .Bodytext ul, .Bodytext ol
{
margin-bottom: 0.8em;
}

#authoredContent ul li ul, #authoredContent ol li ol, .Bodytext ul li ul, .Bodytext ol li ol
{
margin-top: 0.2em;
margin-bottom: 0.2em;
}

#authoredContent ul li, .Bodytext ul li
{
list-style-type: square;
margin-left: 2.5em;
}

#authoredContent ul li ul li, .Bodytext ul li ul li
{
margin-left: 1.5em;
list-style-type: disc;
}

#authoredContent ol li, .Bodytext ol li
{
margin-left: 2em;
list-style-type: decimal;
}

#authoredContent.section, .Bodytext.section {
	padding-top: 5px;
}

#authoredContent.section.section, .Bodytext.section.section {
	padding-top: 5px;
}





#main_content {
	background-color: #ffffff;
	padding: 13px 5px;

}


#main_content table {
	font-family: "verdana", sans-serif;
	color: #222222;
}

#main_content_toc {
	/** border-right: 1px solid #b2b2b2; **/
	overflow: auto;
	font-size: 0.9em;
}

#main_content_toc a {
	font-weight: normal;
	background-color: transparent;
padding-bottom: 4px;
}

#main_content_sizer {
	width: 5px;
	background-color: #cccccc;
	cursor: w-resize;
}

#main_content_toc a:hover {
	background-color: #fee126;
	text-decoration: none;
	border: 0px;
}

#main_content_txt {
	padding-left: 13px;
	padding-top: 1px;
		font-size: 1.1em;
}



.sysdoc_navigator
{
	font-size: 0.8em;
	border-top: 1px dotted #b2b2b2;
	border-bottom: 1px dotted #b2b2b2;
}

.sysdoc_navigator a {
	background-color: #e5e5e5;
}

.sysdoc_navigator a:hover {
	background-color: #fee126;
	text-decoration: underline;
	border: 0px;
}

.sysdoc_navigator_padding {
	padding: 5px;
	background-color: #e5e5e5;
	font-size: 1.1em;
}

#printer_copyright {
	display: none;
}

#printer_copyright_padding {
	display: none;
}

.main_content_label {
	padding-bottom: 2px;
}

.main_content_padding {
	padding-right: 5px;
	padding-bottom: 5px;
}

.main_content_rss {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(http://devlib.symbian.slions.net/s3/a_stock/images/css/rss.gif) top left no-repeat;
	float: right;
	clear: right;
}

.main_content_title {
	padding-bottom: 10px;
}

.print_icon {
	float: right;
	width: 26px;
	height: 26px;
	background: url(http://devlib.symbian.slions.net/s3/a_stock/images/css/icon_print.gif) top left no-repeat;
	cursor: pointer;
	margin-top: -22px;
}

.subheading {
	padding-bottom: 10px;
}

.table_border {
	width: 384px;
	padding-bottom: 13px;
}

.table_border_top {
	width: 384px;
	height: 8px;
	font-size: 0px;
	background: url(http://devlib.symbian.slions.net/s3/a_stock/images/css/table_top.gif) top left no-repeat;
}

.table_border_middle {
	width: 384px;
	background: url(http://devlib.symbian.slions.net/s3/a_stock/images/css/table_middle.gif) top left repeat-y;
}

.table_border_bottom {
	font-size: 0px;
	width: 384px;
	height: 8px;
	background: url(http://devlib.symbian.slions.net/s3/a_stock/images/css/table_bottom.gif) bottom left no-repeat;
}

.table_border_padding {
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
}

#authoredContent pre, .Bodytext pre
{
padding: 0.6em 1em;
background-color: #eee;
line-height: 2 !important;
margin-bottom: 1em;
}

#authoredContent code, .Bodytext code
{
line-height: 1.4 !important;
font-size: 1.2em;
}

h1 code, h2 code, h3 code, h4 code, h5 code
{
font-weight: bold;
}

#authoredContent ul li pre, #authoredContent ol li pre, .Bodytext ul li pre, .Bodytext ol li pre
{
margin-top: 1em;
}

#authoredContent p.Caption, .Bodytext p.Caption
{
font-style: italic;
font-size: 0.9em;
}

.RelatedItems
{
font-weight: bold;
margin: 1em 0 0.5em 0;
}

#header
{
width: auto;
}

#container
{
overflow: auto;
}

pre
{
overflow: auto;

}


pre code
{
}

.Structure, .CodeBlock, .Prototype, .Instructions, .Process,
.Guideline, .DataDescription, .Classification, .Example {
  padding: 1em 1em 0 1em;
  background-color: #eee;
  margin-bottom: 1em;
}

/* CodeBlocks in blue boxes want to be blue too. */
.Structure       pre,
.Instructions    pre,
.Process         pre,
.Guideline       pre,
.DataDescription pre,
.Classification  pre,
.Example         pre
{
  background-color: #d5d5d5 !important;
}

.apiAbstract
{
    margin-top: 3px;
    margin-left: 10px;
}

/* Copyright (c) 2009 Nokia Corporation and/or its subsidiary(-ies). All rights reserved. http://www.symbianfoundation.org/legal/sfl-v10.html. */

#authoredContent p.Caption, .Bodytext p.Caption
{
margin-top: -1.5em;
}

#authoredContent p.Image
{
margin-bottom: 0;
padding-bottom: 0;
}

.Structure, .CodeBlock, .Prototype, .Instructions, .Process,
.Guideline, .DataDescription, .Classification, .Example {
  padding: 1em 1em 1em 1em;
  background-color: #eee;
  margin-bottom: 1em;
}

/* CodeBlocks in blue boxes want to be blue too. */
.Structure       .CodeBlock,
.Instructions    .CodeBlock,
.Process         .CodeBlock,
.Guideline       .CodeBlock,
.DataDescription .CodeBlock,
.Classification  .CodeBlock,
.Example         .CodeBlock
{
  background-color: #cccccc;
  border: solid #dddddd 1px;
}

.apiAbstract
{
    margin-top: 3px;
    margin-left: 3px;
}

.ValueDesc { padding-left: 10px !important;}

.apiAbstract:before
{
content: ' - ';
}

.ValueDesc
{
padding: 0px 0px 0px 10px !important;
}

#pageFunctions
{
float: right;
margin-top: 3px;
background-color: transparent;
}

#pageFunctions a:hover {
	background-color: transparent;
}

.ajax-div h3
{
font-size: 1.1em;
}

.ajax-div h3 a
{
color: #0000ff !important;
font-weight: bold !important;
}

#container
{
margin:0 auto;
text-align:left;
width:99%;
}


.ygtvitem, .ygtvchildren, #toc
{
width: 100%;
}

.ygtvtable
{
table-layout: fixed;
width: 100%;
overflow: hidden;
}

.ygtvcontent a
{
display: block;
}

.input-div, .output-div-container
{
padding: 0;
}

.error
{
padding: 1em;
text-decoration: none !important;
color: red;
margin-right: 1em;
font-weight: bold;
text-align: center;
}

strong
{
font-weight: bold;
}

em
{font-style: italic;
}
body {
    background-color: #FFFFFF;
}

.help_breadcrumbs {
    background-color: #E5E5E5;
    border-bottom:1px dotted #B2B2B2;
    border-top:1px dotted #B2B2B2;
    font-size:12px;
    margin:10px;
    padding:5px;
}

.help_breadcrumbs a {
    color: black;
}