/**
 * This stylesheet contains amendments and modifications to the NWG base stylesheets for Eclipse XHTML.
 */

body {
  margin: 9px;
} 
div.body {
  margin: 0;
}
div.contentFull {
  padding: 0;
}
div.contentLeft {
  padding: 0;
}
.breadcrumbs {
  margin-top: 0;
}
h1.pageHeading {
  margin-top: 5px;
}