/*
h4.sectiontitle {
  font-size: smaller;
}
span.platformSyntax {
  color: black;
}
pre.apiSyntaxText {
  padding-left: 1.2em;
}
span.itemname {
  font-style: italic;
}
table.itemdefs {
  border-collapse: collapse;
  padding: 0.1em;
  border: 0;
}
tr.itemdefs {
}
td.itemdefname {
  padding-left: 1.2em;
  padding-right: 1em;
  padding-top: 0.33em;
  text-align: right;
  font-style: italic;
}
td.itemdefnote {
}
tr.platformItem td {
  color: black;
}
span.platformItem {
  color: black;
}
p.platformExample {
  padding-left: 1.2em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-weight: bold;
  font-size: smaller;
  color: black;
}
div.example pre {
  padding-left: 1.2em;
}
*/

/* Signature */
.signature {
  background-color: #EEE !important;
  padding: 5px;
  margin-left: 1em;
} 
table.signature {
  border-collapse: separate;
}
table.signature td {
  padding: 0 2px;
}

/* Member index */
table.member-index {
  border-collapse: collapse;
  min-width: 800px;
}
table.member-index tr {
  border: solid 1px silver;
}
table.member-index td {
  vertical-align: top;
  padding-left: 1em;
}
/*table.member-index th {
  border-left-style: none;
  border-right-style: none;
}*/

/* Parameters */
table.parameters {
  margin-left: 1em;
}
table.parameters td {
  vertical-align: top;
}

/* Enumeration */
table.enumerators {
  margin-left: 1em;
}
table.enumerators td {
  padding-right: 1em;
}

.topicbody2 {
  margin-left: 1em;
}

/* Code font */
.signature,
table.signature td,
table.member-index td,
table.parameters td.parameter {
  font-family: Consolas, Monaco, "Courier New", monospace !important; 
}

/* Derivation */
ul.derivation ul {
  margin: 0 0 0 10px;
}
ul.derivation li {
  background: url("http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/uml_generalization.gif") no-repeat scroll left top transparent;
  padding-left: 15px;
  margin: 0;
}
li.derivation-has-next {
  background-image: url("http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/uml_generalization_has-next.gif") !important;
}
li.derivation-depth-0 {
  background-image: none !important;
  padding-left: 0px !important;
}
