/**
 * This stylesheet contains amendments and modifications to the NWG base stylesheets.
 */

/* LAYOUT */

div.body {
  width: auto;
	margin: 25px 0 0 0;
}

div.contentFull {
	min-height: 0;
	padding: 0 25px 25px 25px;
	width: auto;
}

div.contentLeft {
	width: auto;
	float: none;	
	display: block;
	padding: 0 25px 25px 25px;
}

div.footer {
	margin: 0px;
	padding: 1em 0 0 0;
	width: auto;
}

/* HEADER */

.logo {
  margin: 0;
  padding: 20px 0 0 10px;
}
.header .confidentiality {
	float: right;
	padding: 3px 20px;
	background-color: #CC0000;
	color: white;
	text-transform: uppercase;
}

h1.pageHeading {
	color: #0054b7;
	line-height: 24px;
}

/* NAVIGATION */
/* 1st level navigation */
/* 2nd level navigation */
/* 3rd level navigation */

div.nav3 {
  margin: 0;
  padding: 0;
}
.nav3 ul {
	display: block;
	padding: 0;
	margin: 0;
	list-style-position: outside
}
.nav3 li {
	display: block;
	list-style: none;
	padding: 0 0 0 12px;
	margin: 2px 0 0 0;
	white-space: nowrap;
	background-image: none;	
	/* XXX: To fix IE behavior that adds a break into the flow when horizontal overflow occurs. */
	border: 1px solid white;
}
.nav3 * {
  vertical-align: middle;
}
.nav3 li.on,
.nav3 li.on3,
.nav3 li.on4,
.nav3 li.on5 {
	background-image: url("http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/arrow.gif");
	background-repeat: no-repeat;
	color: #666;
}
.nav3 a,
.nav3 a:visited {
	color: rgb(0, 51, 204);
	text-decoration: none;
}

div.nav3 {
	width: 100%;
	margin-top: 0px;
}

/* 4th level navigation */
/* toolbar navigation */
/* MAIN BODY CONTENT */
/* comparison-related */
/* primary */
/* teasers */
/* form-related */

table {
	border: 1px solid #999;	
}
caption {
    caption-side: bottom;
    text-align: left;
}
div.table-description {
    /*margin-top: -10px;*/
    font-size: 10px;
}
td,
th {
	padding: 3px 5px;
}
th > p:first-child,
td > p:first-child {
	margin-top: 0;
}
thead tr th, tbody tr th {
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}

.comment {
  margin: 5px;
  padding: 5px;
  border: solid 1px gray;
  background-color: silver;
}
pre {
  margin: 10px 10px;
}
/* center vertical margins for block-level elements */
p,
table,
ul,
ol,
dl,
div.p,
.olchildlink,
.ulchildlink {
  margin-top: 5px;
  margin-bottom: 5px; 
}
.codeblock {
  background-color: #EEE;
  padding: 5px;
}
.listing pre {
	margin: 0 10px;
}
.listing {
	padding: 5px 0;
	margin-top: 10px;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}
.listing-title {
	margin: 0;
}

/* child related links */
.ulchildlink {
  background: none;
}

/* SIDEBAR */

div.sbFooter {
	height: 4px;
}

/* COLORS: Only the color attribute is specified */
/* POPUP */
/* Tools: download, bookmark, print */

/** EXTENSIONS **/

.note {
  margin: 2px 15px;
}
.breadcrumbs {
  font-size: 10px;
  margin-bottom: 12px;
  margin-top: -12px;
}
.in-page-navigation {
  margin-top: 12px;
  font-size: 10px;
}
.in-page-navigation table {
  margin: 0;
  padding: 0;
  border: none;
}
.unicode {
  font-family: "Arial Unicode MS", sans-serif;
}

/* semantic elements */


.parmname,
.uicontrol,
.wintitle {
  font-weight: bold;
}
.varname {
  font-style: italic;
}
.cmdname,
.systemoutput,
.filepath {
  font-style: normal;
  font-family: monospace;
}
.userinput  {
  font-weight: bold;
  font-family: monospace;
}
.shortcut {
  text-decoration: underline;
}

/* infobox */

.info-icon {
  float: right;
  padding-right: 25px;
}
.info-icon a {
  text-decoration: none;
}
.info-icon img {
  width: 12px;
}

#infobox {
  padding: 10px 10px 10px 45px;
  background-image: url('http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/info.gif');
  background-repeat: no-repeat;
  background-position: 10px 20px;
}
#infobox table {
  margin: 0;
}
#infobox table td{
  white-space: nowrap;
}
#infobox .hidden {
  display: none;
}

/* Conversion specific classes */

.conversion-error-message {
    color: red;
    font-weight: bold;
    cursor: help;
}

/* Table of contents */

.toc-controller,
.toc-space {
	padding: 0 2px;
	margin: 0 0.5em 0 0;
	border: solid 1px black;
	font-family: monospace;
	font-size: 10px;
	line-height: 8px;
}
.toc-controller {
	cursor: pointer;
}
.toc-controller:hover {
	color: gray;
}
.toc-space {
	visibility: hidden;
}
.button-manual_sync-container {
  text-align: right;
}
.button-manual_sync {
  font-size: 10px;
  margin-right: 5px;
}
.toc-title {
  padding: 0px 2px !important;
}
li.on3 > .toc-title {
  background-color: Highlight !important;
  color: HighlightText !important;
}
/* IE6 */
/*
a.on3, span.on3 {
  background-color: Highlight !important;
  color: HighlightText !important;
}
*/

/* Conditions */

.condition-start,
.condition-end {
    color: blue;
    cursor: help;
}

/* DITA-OT */

.topictitle1 {
  font-size: 16px !important;
}
.topictitle2 {
  font-size: 14px !important;
}
.topictitle3 {
  font-size: 13px !important;
}
.sectiontitle {
  font-size: 12px !important;
}
.figcap {
  display: block;
}
.fignone {
  margin-left: 1em;
}