/**************************************
	PRINT STYLESHEET PROPERTIES FOR:
		Internet Explorer 5+
		Mozilla 1.6+
		Netscape 7+
		Opera 7+
	
	Version 2.3.0
	---------------------------------
	If you need to create new styles,
	do not add it in this file, instead 
	create a new CSS file, called 
	"style_custom.css" and reference 
	it from your XHTML file(s).
**************************************/


/* LAYOUT */
div.header {
	display: block;
	}

div.nav {
	display: block;
	margin: 20px 0 0 0;
	padding: 0px;
	}

div.toolBar {
	clear: left;
	display: block;
	}

div.tools {
	display: block;
	float: right;
	margin: 0px;
	width: 758px;
	}

div.body {
	clear: both;
	display: block;
	margin: 20px 0 0 38px;
	padding: 0px;
	width: 712px;
	}
div.body#toolbar {
	margin-top: 0px;
}

/* content area width: 712px */
div.contentFull {
	display: block;
	float: left;
	margin: 0px;
	min-height: 200px;
	padding: 0 0 50px 0;
	width: 712px;
	}
/* content area width: 576px */
div.contentRight {
	display: block;
	float: left;
	margin: 0px;
	min-height: 200px;
	padding: 0 0 50px 0;
	width: 576px;
	}
/* content area width: 398px */
div.contentMiddle {
	display: block;
	float: left;
	margin: 0px;
	min-height: 200px;
	padding: 0 0 50px 0;
	width: 398px;
	}
/* content area width: 534px */
div.contentLeft {
	display: block;
	float: left;
	margin: 0px;
	min-height: 200px;
	padding: 0 0 50px 0;
	width: 534px;
	}

div.contentLeft h2{
	font-size: 12px;
	margin: 20px 0 10px 0;
	padding: 0px;
	color: #000;
}

div.contentLeft h2.verify-hdr{
	float: left;
	font-size: 12px;
	margin: 20px 0 10px 0;
	padding: 0px;
	color: #000;
}

div.contentLeft  a.chng{
	margin: 20px 0 0 10px;
	float: left;
	clear: right;
}

#altHomepage {
	padding-top: 60px;
	}
div#altHomepage h1, div#altHomepage div.prTxt {
	margin-left: 136px;
	}

div.secondary {
	clear-after: both;
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
	}
/* begin: for Netscape 6 */
div.secondary:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	}
/* end: for Netscape 6 */

div.sidebar {
	display: block;
	float: left;
	margin: 0 0 0 14px;
	min-height: 200px;
	padding: 0 0 50px 0;
  }
div.sidebar#tools {
	margin: 20px 0 0 14px;
	}

div.footer {
	clear: both;
	display: block;
	margin: 0px;
	padding: 0 0 20px 0;
	position: relative;
	width: 750px;
	}
div.navFooter, div.copy {
	clear: both;
	color: #999;
	display: block;
	text-align: center;
	width: 750px;
	}
div.copy {
	font-size: 11px;
	}
	
div.row {
  clear: both;
	margin-bottom: 5px;
  }
div.row div.center {
	clear: both;
	width: 100%;
	}
div.row div.left {
  float: left;
  width: 50%;
  }
div.row div.right {
  float: right;
  width: 50%;
  }
div.row span.left {
  float: left;
	text-align: left;
  width: 50%;
  }
div.row span.right {
  float: right;
	text-align: right;
  width: 50%;
  }


/* HEADER */
.logo {
	margin: 20px 0 0 10px;
	}
.siteIdentifier {
	color: #666;
	font-size: 12px;
	font-weight: bold;
	left: 180px;
	position: absolute;
	top: 27px;
	width: 350px;
	}
.service {
	display: block;
	left: 350px;
	position: absolute;
	text-align: right;
	top: 3px;
	width: 400px;
}
.svcTools {
	color: #999;
	}
div.svcTools a:link, div.svcTools a:visited, div.svcTools a:active {
	color: #666;
	font-size: 11px;
	text-decoration: none;
	}
div.svcTools a:hover {
	color: #666;
	font-size: 11px;
	text-decoration: underline;
	}

div.svcSearch {
	margin: 3px 0 0 0;
	}
div.svcSearch div.button {
	float: right;
	}
div.svcSearch div.input {
	float: right;
	padding: 0 5px 0 0;
	}
div.svcSearch div.input input {
	font-size: 11px;
	margin: 1px 0 0 0;
	width: 100px;
	}	
div.svcSearch div.label {
	float: right;
	padding: 7px 5px 0 0;
	}


/* NAVIGATION */
a:link {
	color: #03C;
	text-decoration: underline;
	}
a:visited {
	color: #909;
	text-decoration: underline;
	}
a:hover {
	text-decoration: underline !important;
	}
a:active {
	text-decoration: underline;
	}

/* 1st level navigation */
div.nav div.n1 {
	background: #03c;
	clear: both;
	height: 19px;
	padding-left: 13px;
	}
div.nav div.n1 a {
	background:url(http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/line_nav_l1.gif) repeat-y right center;
	color: #fff;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: bold;
	line-height: 13px;
	margin: 0 -1px;
	padding: 3px 10px;
	text-decoration: none;
	}
div.nav div.n1 a.n1on{
	color:#000;
	background: #ccc;
	}

/* 2nd level navigation */
div.nav div.n2 {
	background: #ccc;
	clear: both;
	height: 19px;
	padding-left: 13px;
	}
div.nav div.n2 a {
	background:url(http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/line_nav_l2.gif) repeat-y right center;
	color: #000;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: bold;
	line-height: 13px;
	margin: 0 -1px;
	padding: 3px 10px;
	text-decoration: none;
	}
div.nav div.n2 a.n2on{
	background: #fff;
	}

/* 3rd level navigation */
div.nav3 {
	color: #666;
	display: block;
	float: left;
	margin: 20px 10px 0 0;
	width: 126px;
	}
div.nav3 h2 {
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 0 0 10px 12px;
	}
div.nav3 h2 a:visited {
	color: #909;
	text-decoration: none;
	}
div.nav3 h2 a:link {
	color: #03C;
	text-decoration: none;
	}
div.nav3 h2 a:hover {
	text-decoration: underline !important;
	}
div.nav3 h2 a:active {
	text-decoration: none;
	}
	
div.nav3 div.links a {
	clear: both;
	display: block;
	padding: 0 0 0 12px;
	color: #03C;
	text-decoration: none;
	}
div.nav3 div.links a:visited {
	color: #909;
	}
div.nav3 div.links a:hover {
	text-decoration: underline !important;
	}
div.nav3 div.links div.on3 {
	background: url(http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/arrow.gif) top left no-repeat;
	display: block;
	padding: 0 0 0 12px;
	}


/* 4th level navigation */
div.nav4 {
	color: #666;
	display: block;
	float: left;
	margin: 0 0 0 12px;
	/*margin: 0 0 0 5px;*/
}
div.nav4 div.links a {
	clear: both;
	display: block;
	padding: 0 0 0 12px;
	color: #03C;
	text-decoration: none;
}
div.nav4 div.links a:visited {
	color: #909;
}
div.nav4 div.links a:hover {
	text-decoration: underline !important;
}
div.nav4 div.links div.on4 {
	background: url(http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/arrow.gif) top left no-repeat;
	display: block;
	padding: 0 0 0 12px;
}

/* 5th level navigation */
div.nav5 {
	color: #666;
	display: block;
	float: left;
	margin: 0 0 0 12px;
	/*margin: 0 0 0 5px;*/
}
div.nav5 div.links a {
	clear: both;
	display: block;
	padding: 0 0 0 12px;
	color: #03C;
	text-decoration: none;
}
div.nav5 div.links a:visited {
	color: #909;
}
div.nav5 div.links a:hover {
	text-decoration: underline !important;
}
div.nav5 div.links div.on5 {
	background: url(http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/arrow.gif) top left no-repeat;
	display: block;
	padding: 0 0 0 12px;
}


/* toolbar navigation */
div.toolCap {
	background: url(http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/line_tool.gif) no-repeat;
	float: right;
	height: 18px;
	width: 3px;
	width/* */:/**/4px;
	}
div.toolLnk {
	background: url(http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/arrow_green_right.gif) left no-repeat;
	border-bottom: 1px solid #009;
	display: block;
	float: right;
	padding: 1px 8px 0 6px;
	height: 18px;
	height/* */:/**/16px;
	}
div.toolLnk a:link, div.toolLnk a:visited, div.toolLnk a:active {
	color: #666;
	font-size: 11px;
	text-decoration: none;
	}
div.toolLnk a:hover {
	color: #666;
	font-size: 11px;
	text-decoration: underline !important;
	}
div.toolPadL {
	border-bottom: 1px solid #009;
	float: right; 
	height: 17px;
	width: 1px;
	}
div.toolPadR {
	height:17px;
	width:1px;
	}
td.toolL {
	text-align: right;
	vertical-align: top;
	width: 750px;
	}
td.toolR {
	border-bottom:1px solid #009;
	width: 100%;
	}
/* begin: Hide from Opera 7 */
html*td.toolR {
	border-bottom:1px solid #009;
	width: auto;
	}
/* end: Hide from Opera 7 */

/* MAIN BODY CONTENT */
.alignL {
	text-align: left;
	}
.alignR {
	text-align: right;
	}

body {
	font-size: 11px;
	font-family: arial,helvetica,sans-serif;
	margin: 0px;
	padding: 0px;
	}

div.center {
	margin: 0 auto 0 auto;
	text-align: center;
	}

/* comparison-related */
.cmpEl {
	display: block;
	float: left;
	vertical-align: top;
	}
	
tbody tr.cmpDataH td {
	border-bottom: 1px solid #999;
	padding: 10px 5px 5px 5px;
	vertical-align: top;
	}
tbody tr.cmpDataV td {
	padding: 10px 5px 5px 5px;
	vertical-align: top;
	}
.cmpImg {
	display: block;
	float: left;
	vertical-align: top;
	}
	
.creationDate {
	color: #666;
	padding: 0 0 10px 0;
	}

.floatL {
	float: left;
	}
.floatR {
	float: right;
	}

.ftNote {
	color: #999;
	padding: 3px 0 0 0;
	}
.ftNote a:link, .ftNote a:active, .ftNote a:visited {
	color: #999;
	text-decoration: none;
	}
.ftNote a:hover {
	color: #999;
	text-decoration: underline !important;
	}

/* primary */
.img72 {
	display: block;
	float: left;
	padding: 0 10px 0 0;
	vertical-align: top;
	width: 62px;
	}
.img195 {
	display: block;
	float: left;
	padding: 0 10px 20px 0;
	}
.txt188 {
	display: block;
	float: left; 
	padding: 0 10px 0 0; 
	width: 178px;
	}
.txt193 {
	display: block; 
	float: left; 
	width: 193px;
	}
	
div.prImg {
	margin: 0 0 10px 0;
	}
.prTxt {
	font-size: 12px;
	font-family: arial,helvetica,sans-serif;
	line-height: 16px;
	margin: 0 0 10px 0;
	}

.prTxt img.prt{
	margin-right: 10px;
}

a:link.prt{
	color: #FF6600 !important;
	text-decoration: underline !important;
}

a:visited.prt{
	color: #FF6600 !important;
	text-decoration: underline !important;
}

a:hover.prt{
	color: #FF6600 !important;
	text-decoration: underline !important;
}
	
div.inset {
	display: block;
	float: left;
	padding: 0 10px 10px 0;
	}

div.editorial div.prTxt {
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
	width: 262px;
	}

div.txt {
	clear: left;
	margin: 0 0 20px 0;
	}
div.txt h2 {
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 0 0 5px 0;
	}
	
/* teasers */
div.tsr1 {
	display: block;
	float: left;
	margin: 0 0 20px 10px;
	width: 126px;
	}
div.tsr1 h2 {
	font-size: 12px;
	margin: 0 0 10px 0;
	padding: 0px;
	}

div.tsr1Left {
	display: block;
	float: left;
	margin: 0 0 20px 0;
	width: 126px;
	}
div.tsr1Left h2 {
	font-size: 12px;
	margin: 0 0 10px 0;
	padding: 0px;
	}

/* 2-column teaser */	
div.tsr2Left {
	display: block;
	float: left;
	margin: 0 0 20px 0;
	width: 262px;
	}
div.tsr2Left h2 {
	font-size: 12px;
	margin: 0 0 10px 0;
	padding: 0px;
	}
div.tsr2 {
	display: block;
	float: left;
	margin: 0 0 20px 10px;
	width: 262px;
	}
div.tsr2 h2 {
	font-size: 12px;
	margin: 0 0 10px 0;
	padding: 0px;
	}
	
div.sidebar div.sb div.sbBody select, div.sidebar div.sb div.sbBody input.txt {
	font-size: 11px;
	width: 120px;
	}
	
.error {
	width: 534px;
	}
.errorImg {
	display: block;
	float: left;
	width: 32px;
	}
.errorTxt {
	display: block;
	float: left;
	font-size: 12px;
	padding: 4px 0 0 0;
	width: 502px;
	}
.errorMsg {
	color: #F00;
	padding: 0 0 10px 0;
	}


/* form-related */
fieldset {
	border: 1px solid #ccc;
	/*
	border: none;
	*/
	margin-bottom: 20px;
	padding-bottom: 5px;
	}
form {
	margin: 0px;
	}
form input.img {
	border: none;
	margin: 5px 0 0 0;
	}
img.date {
	margin:0 0 -3px 3px;
	}
input.txt {
	font-size: 11px;
	width: 170px;
	}
input.txtError {
	background: #ffc;
	font-size: 11px;
	width: 170px;
	}
label {
	cursor: pointer;
	text-align: left;
	}
label.req {
	font-weight: bold;
	}
label.error {
	color: #f00;
	}
label.reqError {
	color: #f00;
	font-weight: bold;
	}
legend {
	font-size: 1.1em;
	font-weight: bold;
	}
optgroup {
	font-size: 1em;
	}
select {
	font-size: 11px;
	width: 176px;
	}
textarea {
	font-family: arial,helvetica,sans-serif;
	font-size: 11px;
	height: 75px;
	width: 170px;
	}
td.frmLblBottom {
	text-align: right;
	vertical-align: bottom;
	width: 40%;
	}
td.frmLblTop {
	padding-top: 10px;
	text-align: right;
	vertical-align: top;
	width: 40%;
	}
tr.spacer {
	height: 20px;
	}
	
h1 {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin: 5px 0 10px 0;
	}
h1.noMargin {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin: 5px 0 3px 0;
	}
	
h1.pageHeading {
	color: #000;
	font-family: Nokia Sans SemiBold,arial,helvetica,sans-serif;
	font-size: 22px;
	font-weight: normal;
	margin: 0 0 10px 0;
	}
h1.pageHeadingRed {
	color: #f00;
	font-family: Nokia Sans SemiBold,arial,helvetica,sans-serif;
	font-size: 22px;
	font-weight: normal;
	margin: 0 0 10px 0;
	}

.hgt5 {
	clear: left;
	margin: 5px 0 0 0;
	}
.hgt10 {
	clear: left;
	margin: 10px 0 0 0;
	}
.hgt20 {
	clear: left;
	margin: 20px 0 0 0;
	}

hr {
	background: #CCC;
	border-top: 1px #CCC;
	clear: left;
	color: #CCC;
	height: 1px;
	margin: 0 0 10px 0;
	width: 100%;
	}

hr.drk {
	background: #666;
	border-top: 1px #666;
	clear: left;
	color: #666;
	height: 1px;
	margin: 0 0 10px 0;
	width: 100%;
}
	
img {
	border: none;
	}

img.btn {
	margin: 5px 0 0 0;
	}
img.ph {
	background: #CFF;
	border: 1px solid #000;
	}

.marginBottom {
	margin-bottom: 3px;
	}

p {
	margin: 10px 0 0 0;
	}

table.numFound {
	color: #999;
}
	
div.pagination {
	clear: both;
	margin: 0px;
	text-align: right;
	margin-bottom: 3px;
	/*margin-bottom: 0px;*/
	}

td div.pagination {
	clear: both;
	margin: 0px;
	text-align: right;
	}
	
div.pagination span {
	color: #666;
	padding: 0 0 0 5px;
	}
	
.price126 {
	border-top: 2px solid #093;
	border-bottom: 2px solid #093;
	margin: 5px 0 0 0;
	width: 126px;
	}
.price195 {
	border-top: 2px solid #093;
	border-bottom: 2px solid #093;
	margin: 5px 0 10px 0;
	width: 195px;
	}
.priceAmt {
	padding: 5px;
	}

td {
	font-size: 11px;
	font-family: arial,helvetica,sans-serif;
	}

table thead tr th,/*td*/
table tbody tr th {
	font-weight: bold;
	}
	
thead tr.title td, tbody tr.title td {
	background: #E6E6E6;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
	}
thead tr.title td a:link, thead tr.title td a:visited, thead tr.title td a:active, 
tbody tr.title td a:link, tbody tr.title td a:visited, tbody tr.title td a:active {
	color: #000;
	text-decoration: none;
	}
thead tr.title td a:hover,
tbody tr.title td a:hover {
	color: #000;
	text-decoration: underline;
	}

thead tr td.titleOn {
	background: #999;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	color: #FFF;
	font-size: 12px;
	}
thead tr td.titleOn a:link, thead tr td.titleOn a:visited, thead tr td.titleOn a:active {
	color: #FFF;
	text-decoration: none;
	}
thead tr td.titleOn a:hover {
	color: #FFF;
	text-decoration: underline;
	}

thead tr th, tbody tr th {
	background: #E6E6E6;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
	}
thead tr th a:link, thead tr th a:visited, thead tr th a:active, 
tbody tr th a:link, tbody tr th a:visited, tbody tr th a:active {
	color: #000;
	text-decoration: none;
	}
thead tr th a:hover,
tbody tr th a:hover {
	color: #000;
	text-decoration: underline;
	}

thead tr th.on {
	background: #999;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	color: #FFF;
	font-size: 12px;
	}
thead tr th.on a:link, thead tr th.on a:visited, thead tr th.on a:active {
	color: #FFF;
	text-decoration: none;
	}
thead tr th.on a:hover {
	color: #FFF;
	text-decoration: underline;
	}
	
tbody tr td.footer {
	border-bottom: 1px solid #999;
	}
tfoot tr td.footer {
	border-bottom: 1px solid #999;
	}
	
td.vaTop {
	vertical-align: top;
	}
td.vaBtm {
	vertical-align: bottom;
	}

ol {
	margin: 0;
	margin-left: 17px;
	/*margin-left: 22px;*/
	padding: 0;
	}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}

ul.black li {
	background: url('http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/li_bla.gif') no-repeat top left ;
	padding-left: 8px;
	}

ul li {
	background: url('http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/li_blu.gif') no-repeat top left ;
	padding-left: 8px;
	}

div.w288 {
	display: block;
	float: left; 
	padding: 0 10px 0 0; 
	width: 278px;
	}
div.w288 h2 {
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 0 0 5px 0;
	}
	
.old {
	font-style: italic;
	}

/* SIDEBAR */
div.siteHelper {
	margin: 0 0 10px 0;
	width: 164px;
	}

.shBg {
	background: url(http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/right_column_dot.gif) #999;
	}
.shTxt {
	background: #E6E6E6;
	padding: 3px 0 3px 7px;
	}
	
div.sb {
	margin: 0px;
	width: 164px;
	}
div.sbHeading h1 {
	background: url(http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/sb_header.gif) top right no-repeat #FFF;
	color: #666;
	display: block;
	font-family: arial,helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 6px 0 7px 9px;
	}
div.sbBody h2 {
	color: #666666;
	font-family: arial,helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	}
div.sbBody {
	background: #FFF;
	border: 1px solid #CCC;
	border-bottom: none;
	color: #666;
	display: block;
	margin: -2px 0 0 0;
	padding: 8px 8px 7px 8px;
	width: 146px;
	}
div.txtFull, div.sbBody ul {
	width: 146px;
	}
div.sbFooter {
	background: url(http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/sb_footer.gif) top no-repeat #FFF;
	display: block;
	margin: -2px 0 0 0;
	padding: 0px;
	width: 164px;
  }


/* COLORS: Only the color attribute is specified */
tr.bg {
	background: #e6e6e6;
	}

.black {
	color: #000;
	}
.blue {
	color: #03C;
	}
.green {
	color: #093;
	}
.grey {
	color: #666;
	}
.greyLight {
	color: #999;
	}
.red {
	color: #F00;
	}


/* POPUP */
div.navPop {
	border-top: 2px solid #03C;
	display: block;
	margin: 10px 0 0 0;
	padding: 0px;
	width: 100%;
	}

div.btnPop {
	margin: -14px 0 0 0;
	text-align: right;
	width: 100%;
	}
div.btnPop div {
	margin-right: 10px;
	}

div.bodyPop {
	display: block;
	margin: 10px 0 0 0;
	width: 100%;
	}
div.bodyPop div.content {
	padding: 0 38px 50px 38px;
	}

div.footerPop {
	clear: both;
	color: #999;
	height: 26px;
	margin: 0;
	text-align: center;
	width: 100%;
	}


/* Tools: download, bookmark, print */
div.download {
	background: url(http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/ico_download.gif) top right no-repeat;
	margin: 0 0 5px 0;
	padding: 0 13px 0 0;
	white-space: nowrap;
	}
div.download a:link, div.download a:visited, div.download a:active, div.download a:hover {
	color: #f60;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none !important;
	}
div.print {
	background: url(http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/ico_print.gif) left no-repeat;
	margin: 0;
	padding: 0 0 0 13px;
	white-space: nowrap;
	}
div.print a:link, div.print a:visited, div.print a:active, div.print a:hover {
	color: #f60;
	font-size: 11px;
	text-decoration: underline;
	}
	
	
/* Tabs */
/* Page Container, tab navigation width, depending on the template width */
div.full {
	width: 712px;
	}
div.right {
	width: 576px;
	}
div.middle {
	width: 398px;
	}
div.left {
	width: 534px;
	}

/* Tab Container, Left and Right end caps */
div.tab {
	/*background: url('../images/tab_bg_border.gif') repeat-x bottom left;*/
	clear: both;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	width: 100%;
	}
div.tab div.left {
	border-bottom: 1px solid #666;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	height: 20px;
	/*height: 21px;*/
	width: 20px;
	}
div.tab div.right {
	background: url('http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/tab_end.gif') no-repeat top left;
	border-bottom: 1px solid #666;
	display: block;
	float: left;
	height: 20px;
	/*height: 21px;*/
	margin: 0;
	padding: 0px;
	width: 20px;
	}
div.tab div.filler {
	border-bottom: 1px solid #666;
	height: 20px;
	/*height: 21px;*/
	width: 100%;
	}
		
/* Tab "OFF" state attributes */
div.tab div.off {
	background: url('http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/tab_off_left.gif') no-repeat top left;
	display: block;
	float: left;
	margin: 0;
	padding: 0 0 0 5px;
	}
div.tab div.off div {
	background: url('http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/tab_off_strip.gif') repeat-x top left;
	display: block;
	float: left;
	margin: 0 0 0 3px;
	padding: 0;
	}
div.tab div.off div a {
	background: url('http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/tab_off_right.gif') no-repeat top right;
	color: #000;
	display: block;
	float: left;
	height: 21px;
	margin: 0;
	padding: 5px 14px 0 7px;
	/*padding: 5px 14px 0 4px;*/
	text-decoration: none;
	white-space: nowrap;
	}
div.tab div.off div a:hover {
	text-decoration: underline !important;
	}

/* Tab "ON" state attributes */
div.tab div.on {
	background: url('http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/tab_on_left.gif') no-repeat top left;
	display: block;
	float: left;
	margin: 0;
	padding: 0 0 0 5px;
	}
div.tab div.on div {
	background: url('http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/tab_on_strip.gif') repeat-x top left;
	cursor: default;
	display: block;
	float: left;
	margin: 0 0 0 6px;
	/*margin: 0 0 0 3px;*/
	padding: 0;
	}
div.tab div.on div div#on {
	background: url('http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/tab_on_right.gif') no-repeat top right;
	color: #000;
	display: block;
	float: left;
	font-weight: bold;
	height: 21px;
	margin: 0;
	padding: 5px 14px 0 4px;
	white-space: nowrap;
	}
	
	
/* WEBCAST Template -specific */
/* webcast containers */
div.webcast {
	margin: 20px;
	/*margin: 0 20px 20px 20px;*/
	}
div.webcast table {
	background:url(http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/wc_bg_gradient.gif) repeat-x;
	}
	
/* table/iframe container borders */
td.border_t {
	background: url(http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/wc_border_t.gif) repeat-x top;
	}
td.border_r {
	background: url(http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/wc_border_r.gif) repeat-y right;
	}
td.border_b {
	background: url(http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/wc_border_b.gif) repeat-x bottom;
	}
td.border_l {
	background: url(http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/wc_border_l.gif) repeat-y left;
	}
	
/* iframes */
iframe#video {
	border: 1px solid #999;
	height: 180px;
	margin: 0 0 10px 0;
	padding: 0;
	width: 238px;
	}
iframe#video_status {
	border: none;
	height: 24px;
	margin: 0 0 10px 0;
	padding: 0;
	width: 240px;
	}
iframe#video_control {
	border: none;
	height: 35px;
	margin: 0 0 10px 0;
	/*margin: 0 0 5px 0;*/
	padding: 0;
	width: 240px;
	}
iframe#toc {
	border: 1px solid #999;
	height: 200px;
	margin: 5px 0 0px 0;
	padding: 0;
	width: 238px;
	}
iframe#main {
	border: 1px solid #999;
	height: 353px;
	margin: 0 0 20px 0;
	padding: 0;
	width: 468px;
	}
iframe#exdocs_tabs {
	border: none;
	height: 21px;
	margin: 0 0 10px 0;
	padding: 0;
	width: 468px;
	}
iframe#exdocs_docs {
	border: 1px solid #999;
	height: 95px;
	/*height: 104px;*/
	margin: 0;
	padding: 0;
	width: 466px;
	}

li.pdf {
	font-size: 12px;
	background: url('http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/ico_pdf.gif') no-repeat top left ;
	padding-left: 20px;
	padding-bottom: 3px;
	}
li.ppt {
	font-size: 12px;
	background: url('http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/ico_ppt.gif') no-repeat top left ;
	padding-left: 20px;
	padding-bottom: 3px;
	}
li.word {
	font-size: 12px;
	background: url('http://devlib.symbian.slions.net/s3/GUID-251A35C1-CC66-4DE4-9EBE-964026E89E7F/images/ico_word.gif') no-repeat top left ;
	padding-left: 20px;
	padding-bottom: 3px;
	}
/* END Webcast Template */