/*
Style sheet for S60 API reference
version 0.1

History
0.1 OOjala  Cleaned up original RoboHelp version

*/

body {
    color: #000000;
    background-color: #ffffff;
    /*font-size: 80%;*/
    font-size: 10pt;
    font-family: Arial, sans-serif;
    /*line-height: 125%;*/
}

p {
    font-weight: normal;
}

code {
    /*font-size: 150%;*/
    font-size: 10pt;
}

h1 {
    line-height: 125%;
    font-size: 20pt;
    font-weight: bold;
    font-style: normal;
}

h2 {
    line-height: 125%;
    font-size: 16pt;
    font-weight: bold;
    font-style: normal;
}

h3 {
    font-size: 14pt;
    font-weight: bold;
}

h4 {
    font-size: 12pt;
    font-weight: bold;
}

h5 {
    font-size: 11pt;
    font-weight: bold;
}

h6 {
    font-size: 10pt;
    font-weight: bold;
}

/* ------------------- LINKS ------------------- */

a img {
  border: 0;
}

a:link {
    color: #0033cc;
}

a:visited {
    color: #0033cc;
}

a:hover {
    color: #ffaa00;
}

a.qindex {
}

a.el {
    font-weight: normal;
}

a.code {
    font-weight: normal;
    color: #4444ee;
}

/* ------------------- LISTS ------------------- */

/* #### check */
dl.el {
    margin-left: -1cm;
}

div.toc ul {
  font-weight: normal;
  list-style-type: none;
  margin-left: 2em;
  padding-left: 0;
}

div.tabs ul { 
  padding: 3px 0;
  margin-left: 0;
  border-bottom: 1px solid #778;
}

div.tabs li { 
  list-style: none;
  margin: 0;
  display: inline;

  border: 1px solid #778;
  border-bottom: none;
  background: #eef;

  padding: 3px 0.5em;
  margin-left: 3px;
}

div.tabs ul li a { 
  padding: 0;
  margin: 0;
/*
  padding: 3px 0.5em;
  margin-left: 3px;

  border: 1px solid #778;
  border-bottom: none;
  background: #eef;
*/
  text-decoration: none;
}


div.tabs ul li#current { 
  background: #ed7;
}


/* ------------------- DIV ------------------- */

div.fragment {
    width: 100%;
    border: none;
    background-color: #eeeeee;
}

div.example {
    width: 100%;
    border: none;
    background-color: #eeeeee;
}

pre.fragment {
    width: 100%;
    /*border: 1px solid black;*/
    background-color: #eeeeee;
    font-size: 10pt;
}

#footerLeft { 
  float: left;
  width: 50%;
  margin-top: 0;
  padding-top: 0;
  font-size: 8pt;
}

#footerRight { 
  margin-top: 0;
  padding-top: 0;
  text-align: right;
}


/* ------------------- TABLE ------------------- */

table {
  border-collapse: collapse;
  border-style: hidden;
  font-size: 10pt;
  /*caption-side: bottom;*/
}

table caption {
  padding: 4px;
  text-align: left;
  margin-bottom: 0.5em;
}

.specTable thead {
  background-color: #eeeeee;
  border-bottom: 5px double black;
  text-align: left;
  padding: 5px;
}

.specTable thead td {
  border: none;
  font-weight: bold;
}

th {
  background-color: #eeeeee;
  border-style: hidden;
  border-bottom: 5px double black;
  text-align: left;
  padding: 5px;
}

/* tr:hover { background: yellow; } */

table p {
  padding-top: 0px;
  margin-top: 0px;
  line-height: 100%;
}

.specTable td {
  border-right: 1px solid black;
  border-bottom: 1px dashed #cacaca;
  vertical-align: top;
  padding: 5px;
}

col.qref { 
  border: 1px solid black;
}

td.mdescLeft {
    padding: 0px 8px 4px 8px;
    font-style: italic;
    background-color: #FAFAFA;
    border: 1px none #E0E0E0;
    margin: 0px;
}

td.mdescRight {
    padding: 0px 8px 4px 8px;
    font-style: italic;
    background-color: #FAFAFA;
    border: 1px none #E0E0E0;
    margin: 0px;
}

td.memItemLeft {
    padding: 1px 0px 0px 8px;
    margin: 4px;
    border: 1px none #E0E0E0;
    border-top: 1px solid #E0E0E0;
    background-color: #FAFAFA;
}

td.memItemRight {
    padding: 1px 8px 0px 8px;
    margin: 4px;
    border: 1px none #E0E0E0;
    border-top: 1px solid #E0E0E0;
    background-color: #FAFAFA;
}

td.md {
    background-color: #f0f0f0;
    line-height: 150%;
    font-family: "Courier New", Courier, monospace;
}

td.mdrow {
    background-color: #F0F0F0;
    line-height: 150%;
}

td.mdname1 {
    background-color: #F0F0F0;
    line-height: 150%;
    font-family: "Courier New", Courier, monospace;
}

td.mdname {
    background-color: #F0F0F0;
    line-height: 150%;
    font-family: "Courier New", Courier, monospace;
}


/* ------------------- SPAN ------------------- */

/* span class="keyword"? */
font.keyword {
    color: #008000;
}

font.keywordtype {
    color: #604020;
}

font.keywordflow {
    color: #e08000;
}

font.comment {
    color: #800000;
}

font.preprocessor {
    color: #806020;
}

font.stringliteral {
    color: #002080;
}

font.charliteral {
    color: #008080;
}


/* ------------------- END ------------------- */