/* Derivation */
ul.derivation {
  list-style: none;
}
ul.derivation ul {
  margin: 0 0 0 10px;
}
ul.derivation li {
  background: url("http://devlib.symbian.slions.net/belle/GUID-C6E5F800-0637-419E-8FE5-1EBB40E725AA/images/uml_generalization.gif") no-repeat scroll left top transparent;
  padding-left: 15px;
  margin: 0;
}
li.derivation-has-next {
  background-image: url("http://devlib.symbian.slions.net/belle/GUID-C6E5F800-0637-419E-8FE5-1EBB40E725AA/images/uml_generalization_has-next.gif") !important;
}
li.derivation-depth-0 {
  background-image: none !important;
  padding-left: 0px !important;
}

/* Signature - Class and Function */
.signature {
    background-color: #EEE !important;
    padding: 5px;    
} 
div.signature {
    border-width: 1px !important;
    border-color: #DDD !important;
    border-style: solid !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;    
    border-radius: 5px;    
    margin: 1em 0px 0px 0px !important;
    padding: 0px !important;
    width: 100%;
	clear:both;
}
table.signature {
    border-collapse: separate;
    margin: 2px 0px 0px 0px;
	border-width: 0px !important;
}
table.signature td {
    padding: 0 1em;
    white-space: nowrap;
    padding-right: 5px;    
}

/* Member Index Table */
table.member-index {
  border-collapse: collapse;
  min-width: 800px;  
}
table.member-index tr {
  border: solid 1px silver;  
}
table.member-index td {
  vertical-align: top;
  padding-left: 1em;
  border-bottom: solid 1px silver;  
}
table.member-index th {
  border-left-style: none;
  border-right-style: none;
}

/* Function Detail */
/*
	padding: 0 0 1em 2em;
	border: 1px dotted #ccc;
*/
.functiondetail { 
}

/* Function Detail Tables */
table.parameters,
table.leave,
table.panic,
table.capability {
	margin: 1em 0 0 0;
	font-size: 12px;
	background-color: #FFF;
	border-style: none;
}
.functiondetail th {
	background-color: #FFF;
	border-style: none;
	text-align: left;
	padding: 0px;

}
table.parameters td,
table.leave td,
table.panic td,
table.capability td {
	font-size: 12px;
	/*padding-bottom: 0px;*/
}

/* Parameters */


/* Return Value Doc, Precondition etc. */
/*
.functiondetail dl {
	margin: 1em 0 0 0;
}	*/
.functiondetail .dlterm {
	font-weight: bold;
}	
.functiondetail dd {
	margin: 0px;
	padding: 0.5em 1em;
}
		
/* Enumeration */
table.enumerators {
  margin-left: 1em;
  border: solid 1px silver;
}
table.enumerators td {
  padding-right: 1em;
}
.enumerator {
	font-style:italic;
}

.topicbody2 {
  margin-left: 1em;
}

/* TODO - create detail class for all details (function, enum, typedef etc.) */
/* Function Detail */
/*
.functiondetail {
	padding: 0 0 1em 2em;
	border: 1px dotted #ccc;
	}
*/

/* Precondition etc. */
.functiondetail .dlterm {
	font-weight: bold;
	}

/* Leaves, Panics, Capability */

.customdl {
    /*border: 3px double #ccc;*/
    padding: 0 0 0.5em 0;	
}

.customdl dt.customdlhead{
	margin: 0 0 0 0;
	font-weight: bold;
    font-style: normal;
}

.customdl dt {
	margin: 0 0 0 40px;
    float: left;
    clear: left;
    /*width: 100px;*/
    /*text-align: right;*/
    /*font-weight: bold;*/      
    font-style: italic;
    /*border: 1px solid black;*/
    min-width:150px;
    padding: 2px 5px 2px 0px;
}

.customdl dd.hidden {
	visibility: hidden;
}

.customdl dd {
	/*float: left;*/
	/*display: block-inline;*/
    margin: 0 0 0 200px;
    /*padding: 0 0 0.5em 0;*/
    /*border: 1px solid red;*/
    padding: 2px 0px 2px 5px;
    
}

/* Code font */
.signature,
table.signature td,
table.member-index td,
table.parameters td.parameter,
.leavecode,
.paniccode,
dl.precondition dd {
  font-family: Consolas, Monaco, "Courier New", monospace !important; 
}

/* Other font styles */
.parameter,
table.retvals td.retval,
.leavecode, .paniccode {
	font-style:italic;
}
 